body {
    font-family: 楷体;
    letter-spacing: 2px;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.title {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-bottom: 20px;
}

.layui-form {
    border: 1px solid dimgrey;
    border-radius: 8px;
    box-shadow: 0px 3px 18px dimgrey;
    width: 20%;
    margin: 12% auto;
    padding: 30px 20px;
}

.layui-btn {
    width: 65%;
}

.layui-form-item {
    text-align: center;
}

.layui-input {
    border-radius: 12px;
    padding: 10px;
    width: 200px;
}

.font-set {
    padding-right: 50px;
}